OSM_GEOJSON_URL=https://openaedmap.org/api/v1/countries/PL.geojson
OSM_REFRESH_INTERVAL=3h
MATCH_RADIUS_METERS=100
DSN=postgresql://postgres:bt55cW5yHq5UwqSa9oxoplTrQcZICLtP@feigned-kitty.pg.mateuszwozniak.com:5432/postgres?sslmode=require
